.resimSlider{
    height: 600px;
}
.body{
    padding: 10px;
}
.hakkimizda{
    background-color: #f2f2f2;
}
.ekipCard>img:hover{
    opacity: 0.8;
}
.galeri{
    background-color: #f2f2f2;
}
.figure:hover{
    opacity: 0.8;
}